<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Small_Eventer::custom" title="Custom" sortOrder="10" >
                    <resource id="Small_Eventer::log" title="Admin Logger" sortOrder="150"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
