<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
        <type name="Magento\Catalog\Model\ResourceModel\Category">
            <plugin name="small_categoryplugin" type="Small\Eventer\Plugin\CategoryPlugin" sortOrder="10" disabled="false" />
        </type>
        <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
            <arguments>
                <argument name="collections" xsi:type="array">
                    <item name="small_custom_log_listing_data_source" xsi:type="string">Small\Eventer\Model\ResourceModel\Log\Grid\Collection</item>
                </argument>
            </arguments>
        </type>
        <virtualType name="Small\Eventer\Model\ResourceModel\Log\Grid\Collection" type ="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
            <arguments>
                <argument name="mainTable" xsi:type="string">admin_log</argument>
                <argument name="resourceModel" xsi:type="string">Small\Eventer\Model\ResourceModel\Log</argument>
            </arguments>
        </virtualType>
</config>
